
body {
    background-image: url('../img/shapelined-_JBKdviweXI-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    
}
/* cajita con foto y links */
.centrado{
    margin-left: 380px; /* Reduzca el margen derecho */
}
/* pfp en caja links */
.links-perfil img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    display: inline-block;
}

/* links del perfil bajo la foto */
.links-perfil li {
    display: block;
    margin: 10px 0;
} 

.links-perfil li a {
    color:rgb(244, 244, 244);
    margin: 10px 0;
    display: inline-block;
    transition: all 0.3s; /* Transición suave para los cambios */

}
/* Estilo al pasar el mouse sobre los elementos */
.cambioT:hover {
    /* Estilo al pasar el mouse */
    font-size: 18px; /* Tamaño de fuente al pasar el mouse */
    color: #ffffff;  /* Color de texto al pasar el mouse (rojo en este caso) */
}

/* para los datos  */
.details h6 {
    color: rgba(87, 38, 101, 0.943);
} 

/* para los separadores de los datos*/


.separadores .details .row {
    border-bottom: 1px solid rgb(3, 2, 0);
    padding: 10px;
    font-weight: 700;
    margin-right: 10px; /* Reduzca el margen derecho */
}

.subtitle{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.4em;
}

.texto-descripcion {
    text-align: justify;
}


/* para la foto de perfil en la nav bar */
.foto-perfil{
    object-fit: cover;
    width: 40px;
    height: 40px;
}

td {   
    height: auto;
    border: 2px solid #ccc;
    padding: 8px;
    text-align: center;
    transition: text-shadow 0.3s;
    text-shadow: 4px 4px 8px rgba(252, 252, 252, 0.4);
}

/* Estilos del botón de Comprar */
.botonAlista {
    margin-left: 450px;
    margin-bottom: 100px;
    background-color: #3c3c3c; /* Color de fondo del botón */
    color: #ffffff; /* Color del texto del botón */
    font-size: 18px; /* Tamaño de fuente */
    padding: 15px 30px; /* Espaciado interno (arriba/abajo y izquierda/derecha) */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cambiar el cursor al pasar el ratón */
    transition: background-color 0.3s ease; /* Transición suave de color de fondo */
    transition: transform 0.2s, box-shadow 0.2s; /* Transiciones para efecto 3D */

}

/* Estilos del botón de Comprar al pasar el ratón */
.botonAlista:hover {
    background-color: #200404; /* Nuevo color de fondo al pasar el ratón */
    transform: scale(1.05); /* Escalar la tarjeta al pasar el cursor */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); /* Aumentar la sombra al pasar el cursor */
}
