



#paginacion{
    margin-left: auto; /* Margen izquierdo automático */
    margin-right: auto; /* Margen derecho automático */
    width: 50%;
    text-align: center;


}


.imagenPequenia{
    width: 75px; 
    height: 50px


}

