/CantidadPorTipoTest.class
/CompraTest.class
/ContOfertaTest.class
/ContUsuarioTest.class
/DTCompraTest.class
/DTOfertaTest.class
/DTPostulacionTest.class
/EmpresaTest.class
/ManejadorOfertaTest.class
/OfertaTest.class
/PostulacionTest.class
