<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <error-page>
    <error-code>404</error-code>
    <location>/errorPages/404.jsp</location>
  </error-page>
  <error-page>
    <error-code>403</error-code>
    <location>/errorPages/403.jsp</location>
  </error-page>
  <display-name>trabajouy</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>pagoConPaquete</servlet-name>
    <servlet-class>com.trabajouy.controllers.pagoConPaquete</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>formAltaOferta</servlet-name>
    <servlet-class>com.trabajouy.controllers.formAltaOferta</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>listarTP</servlet-name>
    <servlet-class>com.trabajouy.controllers.listarTP</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>pagoRealizado</servlet-name>
    <servlet-class>com.trabajouy.controllers.pagoRealizado</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>postularse</servlet-name>
    <servlet-class>com.trabajouy.controllers.postularse</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>formLogin</servlet-name>
    <servlet-class>com.trabajouy.controllers.formLogin</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>listarUsuario</servlet-name>
    <servlet-class>com.trabajouy.controllers.listarUsuario</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CerrarSesion</servlet-name>
    <servlet-class>com.trabajouy.controllers.CerrarSesion</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>registrarse</servlet-name>
    <servlet-class>com.trabajouy.controllers.registrarse</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>consPaq</servlet-name>
    <servlet-class>com.trabajouy.controllers.consPaq</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>busqueda</servlet-name>
    <servlet-class>com.trabajouy.controllers.busqueda</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>modificarUsuario</servlet-name>
    <servlet-class>com.trabajouy.controllers.modificarUsuario</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.trabajouy.controllers.Login</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>consultarUsuario</servlet-name>
    <servlet-class>com.trabajouy.controllers.consultarUsuario</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ConsultarOferta</servlet-name>
    <servlet-class>com.trabajouy.controllers.ConsultarOferta</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>listarPaquetes</servlet-name>
    <servlet-class>com.trabajouy.controllers.listarPaquetes</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>listarOfertas</servlet-name>
    <servlet-class>com.trabajouy.controllers.listarOfertas</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>altaOferta</servlet-name>
    <servlet-class>com.trabajouy.controllers.altaOferta</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>validarPassword</servlet-name>
    <servlet-class>com.trabajouy.controllers.validarPassword</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>consultarTipoPubli</servlet-name>
    <servlet-class>com.trabajouy.controllers.consultarTipoPubli</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>modificarOferta</servlet-name>
    <servlet-class>com.trabajouy.controllers.modificarOferta</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>formReg</servlet-name>
    <servlet-class>com.trabajouy.controllers.formReg</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>formModificarOferta</servlet-name>
    <servlet-class>com.trabajouy.controllers.formModificarOferta</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>home</servlet-name>
    <servlet-class>com.trabajouy.controllers.home</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>pagoConPaquete</servlet-name>
    <url-pattern>/pagoConPaquete</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>formAltaOferta</servlet-name>
    <url-pattern>/formAltaOferta</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>listarTP</servlet-name>
    <url-pattern>/listarTP</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>pagoRealizado</servlet-name>
    <url-pattern>/pagoRealizado</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>postularse</servlet-name>
    <url-pattern>/postularse</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>formLogin</servlet-name>
    <url-pattern>/formLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>listarUsuario</servlet-name>
    <url-pattern>/listarUsuario</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CerrarSesion</servlet-name>
    <url-pattern>/cerrar-sesion</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>registrarse</servlet-name>
    <url-pattern>/registrarse</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>consPaq</servlet-name>
    <url-pattern>/consultarPaquete</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>busqueda</servlet-name>
    <url-pattern>/busqueda</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>modificarUsuario</servlet-name>
    <url-pattern>/modificarUsuario</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/iniciar-sesion</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>consultarUsuario</servlet-name>
    <url-pattern>/consultarUsuario</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ConsultarOferta</servlet-name>
    <url-pattern>/consultarOferta</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>listarPaquetes</servlet-name>
    <url-pattern>/listarPaquetes</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>listarOfertas</servlet-name>
    <url-pattern>/listarOfertas</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>altaOferta</servlet-name>
    <url-pattern>/altaOferta</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>validarPassword</servlet-name>
    <url-pattern>/validarPassword</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>consultarTipoPubli</servlet-name>
    <url-pattern>/consultarTipoPubli</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>modificarOferta</servlet-name>
    <url-pattern>/modificarOferta</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>formReg</servlet-name>
    <url-pattern>/formReg</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>formModificarOferta</servlet-name>
    <url-pattern>/formModificarOferta</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>home</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>FiltroOferta</filter-name>
    <filter-class>com.trabajouy.filters.FiltroOferta</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>FiltroOferta</filter-name>
    <url-pattern>/consultarOferta</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>seguimiento</display-name>
    <servlet-name>seguimiento</servlet-name>
    <servlet-class>com.trabajouy.controllers.seguimiento</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>seguimiento</servlet-name>
    <url-pattern>/seguimiento</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>pdfPostulacion</display-name>
    <servlet-name>pdfPostulacion</servlet-name>
    <servlet-class>com.trabajouy.controllers.pdfPostulacion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>pdfPostulacion</servlet-name>
    <url-pattern>/pdfPostulacion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>favorito</display-name>
    <servlet-name>favorito</servlet-name>
    <servlet-class>com.trabajouy.controllers.favorito</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>favorito</servlet-name>
    <url-pattern>/favorito</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>realizarRanking</display-name>
    <servlet-name>realizarRanking</servlet-name>
    <servlet-class>com.trabajouy.controllers.realizarRanking</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>realizarRanking</servlet-name>
    <url-pattern>/realizarRanking</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Ranking</display-name>
    <servlet-name>ranking</servlet-name>
    <servlet-class>com.trabajouy.controllers.ranking</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ranking</servlet-name>
    <url-pattern>/ranking</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>exponerRanking</display-name>
    <servlet-name>exponerRanking</servlet-name>
    <servlet-class>com.trabajouy.controllers.exponerRanking</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>exponerRanking</servlet-name>
    <url-pattern>/exponerRanking</url-pattern>
  </servlet-mapping>
</web-app>