/NoExisteEmpresa.class
/NoExisteKeyword.class
/NoExisteOferta.class
/NoExistePaquete.class
/NoExistePostulante.class
/NoExisteTipoPublicacion.class
/NombreKeywordExistente.class
/NombreOfertaExistente.class
/NombrePaqueteExistente.class
/NombreTipoPublicacionExistente.class
/PostulantePoseeOferta.class
/NicknameUsuarioExistente.class
/CorreoUsuarioExistente.class
/ErrorFecha.class
/NoExisteOfertaEmpresa.class
/NoExistenUsuarios.class
/NoHayTPRestantes.class
/NoTieneOfertasConfirmadasVigentes.class
/NombreTipoDePublicacionExistente.class
/OfertaExpirada.class
/PaqueteYaComprado.class
